/* Fix user-agent */

* {
  box-sizing: border-box;
}

input {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 200;
  background-color: #181818;
  color: #fff;
}

strong {
	font-weight: bold;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.content {
  max-width: 800px;
  margin: auto;
  background-color: #000000;
}

.inputMessage {
  font-size: 100%;
  max-width: 800px;
  margin: auto;
}

.inputMessage {
  /*border: 10px solid #000;*/
  border: 1px solid #fff;
  background-color: #181818;
  color: #eee;

  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.messages {
  /*height: 90vh;*/
  margin-left: 12px;
  margin-right: 12px;
}
